@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    text-decoration: none;
    list-style: none;
    line-height: 102%;
}



html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: rgb(236, 236, 236);
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#nav {
    transition: top 1s;
    height: 80px;
    width: 100vw;
    top: 0;
}

nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    background-color: white;
    filter: drop-shadow(3px 3px 10px rgb(179, 179, 179));
}

.m-nav img {
    width: 50px;
}

nav div:nth-child(-n+3),
nav a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #021c0f;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

.m-nav a {
    color: #021c0f;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.m-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #021c0f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.m-nav a:hover:after {
    width: 100%;
    left: 0;
}
.m-nav a.active:after {
    width: 100%;
    left: 0;
}

.l-nav h3 {
    color: #021c0f;
}

.l-nav,
.r-nav {
    width: 25%;
}

.m-nav {
    width: 50%;
}

nav img {
    width: 80px;
}

main {
    position: relative;
    height: 110vh;
    overflow: hidden;
}

.sky {
    position: absolute;
    width: 2800px;
    top: calc(50% - 0px);
    left: calc(50% + 0px);

    z-index: 1;
}

.part1 {
    position: absolute;
    z-index: 2;
    width: 128%;
    top: calc(50% - 0px);
    left: calc(50% + 0px);

}

.text {
    position: absolute;
    z-index: 2;
    top: calc(50% - 0px);
    left: calc(50% + 0px);

    text-align: center;
    color: white;

}

.text h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 5px;
    color: white;

}

.text h1 {
    font-family: "Ibarra Real Nova", sans-serif;
    font-weight: 200;
    font-size: 96px;
    letter-spacing: 5px;
    line-height: 2.3;
    color: white;

}

.part2 {
    position: absolute;
    z-index: 3;
    width: 113%;
    top: calc(50% - 0px);
    left: calc(50% + 0px);

}

.part3 {
    position: absolute;
    z-index: 4;
    width: 112%;
    top: calc(50% - 0px);
    left: calc(50% + 0px);

}

.part4 {
    position: absolute;
    z-index: 5;
    width: 112%;
    top: calc(50% - 0px);
    left: calc(50% + 0px);

}

.part5 {
    position: absolute;
    z-index: 6;
    width: 100%;
    top: calc(50% - 0px);
    left: calc(50% + 0px);

}

.part6 {
    position: absolute;
    z-index: 7;
    width: 112%;
    top: calc(50% - 0px);
    left: calc(50% + 0px);

}


.btn {
    position: absolute;
    z-index: 29;
    top: calc(80% - 30px);
    left: calc(50% + 0px);

}

.btn a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 2px;
}

.btn a:hover {
    transition: 0.6s;
    background-color: white;
    color: black;
}

.part7 {
    position: absolute;
    z-index: 8;
    width: 110%;
    top: calc(50% - 0px);
    left: calc(50% + 0px);
}

.part8{
    position: absolute;
    z-index: 9;
    width: 115%;
    top: calc(50% - 0px);
    left: calc(50% + 0px);
}

.about{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #021c0f;


}
.part9 {
    position: absolute;
    z-index: 1;
    width: 95%;
    top: calc(60% - 0px);
    left: calc(80% + 0px);

}

.part10 {
    position: absolute;
    z-index: 2;
    width: 70%;
    top: calc(50% - 0px);
    left: calc(40% + 0px);

}

.part11 {
    position: absolute;
    z-index: 3;
    width: 110%;
    top: calc(50% - 50px);
    left: calc(80% + 0px);

}
.text-about{
    position: absolute;
    z-index: 3;
    width: 50%;
    top: calc(60% - 50px);
    left: calc(30% + 0px);
    color: white;
}
.text-about h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
}
.text-about p{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}


.reason {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    gap: 100px;
    margin-top: 100px;
}

.text-reason {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.text-reason h1 {
    font-size: 48px;
    font-weight: 600;
}

.text-reason p {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.card-r {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: flex-end;

}

.card-r h1 {
    font-weight: 300;
    font-size: 36px;
    color: white;
    z-index: 2;
    opacity: 1;
    transition: 1s;

}

.card-r h2 {
    font-size: 36px;
    color: white;
    z-index: 2;

}

.card-r div {
    display: flex;
    flex-direction: column;
    background-color: #9abda5;
    height: 60%;
    width: 33.3%px;
    align-items: flex-start;
    padding: 50px;
    position: relative;
    gap: 40px;
    transition: 1s;

}

.card-r div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    transition: 1s;
    z-index: -0;
    filter: brightness(50%);
}

.card-r div a {
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    opacity: 0;
    transition: 1s;
    color: white;
    z-index: 2;

}

.card-r div p {
    opacity: 0;
    transition: 1s;
    color: white;
    z-index: 2;

}

.card-r div a:hover {
    transition: 1s;
    font-weight: bolder;
}

.card-r div:hover {
    transition: 1s;
    height: 80%;
}

.card-r div:hover img {
    transition: 1s;
    width: 100%;
    filter: brightness(50%);

}

.card-r div:hover a {
    transition: 1s;
    opacity: 1;
}

.card-r div:hover p {
    transition: 1s;
    opacity: 1;
}

.card-r div:hover h1 {
    transition: 1s;
    opacity: 0;
}


/*bagian destinasi*/
.text-destinasi {
    display: flex;
    gap: 100px;
    padding: 0px 100px;
    justify-content: space-between;


}

.text-destinasi div h1 {
    font-size: 56px;
    font-weight: 500;

}

.text-destinasi div p {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.text-destinasi div a button {
    font-size: 20px;
    padding: 15px 25px;
    background-color: #4B9B5C;
    font-weight: bolder;
    text-decoration: none;
    border: 0px;

}

.text-destinasi div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.text-destinasi div a button:hover {
    transition: 1s;
    background-color: #326f40;
}




.destinasi {
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

#image-track .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

#image-track {
    display: flex;
    gap: 4vmin;
    left: 50%;
    top: 35%;
    position: relative;
    transform: translate(0%, -50%);
}

.title-destinasi {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-destinasi h1 {
    position: absolute;
    opacity: 0;
    margin: 10px;
    color: white;
    transition: 0.2s;
}

.title-destinasi:hover h1 {
    opacity: 1;
}

.title-destinasi:hover .image {
    filter: brightness(70%);
}

.destinasi .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.638);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.destinasi .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.destinasi .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    width: 900px;
    object-fit: cover;
}

/* Bagian trip */
.trip {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    gap: 100px;
}

.text-trip {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.text-trip h1 {
    font-size: 48px;
    font-weight: 600;
}

.text-trip p {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.content-trip {
    display: flex;
}

.trip-1 {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.trip-1 a {
    padding: 40px;
    background-color: #021c0f;
    font-size: 28px;
    color: white;
    font-weight: 300;
}

.trip-1 a:hover {
    background-color: #4B9B5C;
    transition: 1s;
}

.trip-2 {
    background-color: #021c0f;
    width: 70%;
}

/* Footer */
footer{
    padding-top: 50px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    background-color: #021c0f;
    color: white;

}
footer a{
    color: white;
}
footer .container{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    gap: 50px;
}
footer .container .bag:nth-child(n){
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
footer .container .bag ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .container .bag:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-img{
    height: 100px;
}
footer .container .bag:nth-child(1) img{
    height: 80px;
}
footer .container .bag ul li a:hover{
    border-bottom: 1px solid white;
}
footer .social-icon img{
    width: 30px;
}
footer .social-icon{
    display: flex;
    gap: 5px;
}

/* Copyright */
.copyright{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    text-align: center;
}
.copyright .empty{
    border-top: 1px solid white;
    margin-bottom: 50px;
}


.slider{
    height: 100vh;
    color: white;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #00000050 40%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 100px;
    top: 30%;
    width: 50%;
    max-width: 80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 5px;
}
.slider .list .item .content h2{
    font-size: 75px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: 100;
}
.arrow{
    position: absolute;
    top: 50px;
    right: 300px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
    display: none;

}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.arrow button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
    display: none;
}
.arrow button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 30px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 150px;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 150px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}

.main-des{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 100px;
    margin-top: 50px;
}
.head-main-des{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.head-main-des h1{
    font-size: 36px;
    font-weight: 600;
}
.categories{
    display: flex;
    gap: 10px;
}
.categories button{
    padding: 10px 25px;
    border: 1px solid #9abda5;
    border-radius: 5px;   
    font-size: 18px;
}
.categories button:hover{
    border: 1px solid #021c0f;
}
.categories button.active{
    background-color: #326f40;
    color: white;
    border: none;
}

/* hotel */

.hotel{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hotel .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}
.hotel-head{
    color: white;
    margin: 0px 100px;
}
.hotel-head h1{
    font-size: 56px;
    font-weight: 400;
}
.hotel-choose{
    background-color: white;
    margin: 20px 100px 20px 100px;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-radius: 5px;
}
.hotel-choose div{
    width: 33.3%;
}
.hotel-choose img{
    width: 100%;
    border-radius: 5px;
}
.hotel-choose .choose-head .hotel-filter{
    width: 100%;
}
.choose-head{
    display: flex;
    padding: 5px 0px;
}
.hotel-choose .choose-head{
    width: 100%;
    display: flex;
    color: #021c0f;
    justify-content: space-between;
}
.choose-head  button{
    padding: 0px 20px;
    color: #021c0f;
    background-color: white;
    border: #4B9B5C 1px solid;
    border-radius: 5px;
}
.choose-head button:hover{
    transition: 0.6s;
    border: #021c0f 1px solid;
}
.choose-head button.active{
    background-color: #326f40;
    color: white;
    border: none;
}

/* card */
.main-card-container{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    gap: 20px;

}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

}
.card-container a{
    color: black;
    text-decoration: none;
    width: 33.3%;
    flex: 0 0 calc(33.3% - 20px);

}
.card-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: white;
    transition: 0.6s;
    cursor: pointer;
}

.card-main:hover{
    transition: 0.6s;
    filter: drop-shadow(10px 10px 3px #6a6a6a80);
}
.card-main {h3, p, h4, h2{
    margin: 0px 20px;
}}

.card-main img.main {
    width: 100%;  
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}
.card-main img.main {
    width: 100%;  
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}
.card-main h3{
    font-weight: 400;
}
.card-main h2{
    font-weight: 500;
}
.card-main span img{
    width: 20px;
}
.card-main {p, h4
{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #6a6a6a;
    font-weight: 400;
}}


.stays-main-card-container{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}
.stays-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

}
.stays-card-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 0px;
}
.stays-card-head h1{
    font-size: 36px;
    font-weight: 600;
}
.stays-card-container a{
    color: black;
    text-decoration: none;
    width: 49%;

}
.stays-card-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: white;
    transition: 0.6s;
    cursor: pointer;
}

.stays-card-main:hover{
    transition: 0.6s;
    filter: drop-shadow(10px 10px 3px #6a6a6a80);
}
.stays-card-main {h3, p, h4, h2{
    margin: 0px 20px;
}}

.stays-card-main img.stays-main {
    width: 100%;  
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}
.stays-card-main img.stays-main {
    width: 100%;  
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}
.stays-card-main h3{
    font-weight: 400;
}
.stays-card-main h2{
    font-weight: 500;
}
.stays-card-main span img{
    width: 20px;
}
.stays-card-main {p, h4
{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #6a6a6a;
    font-weight: 400;
}}
.culinary{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px 100px;
    
}
.head-culinary{
    width: 100%;
    background-image: url(assets/culinary.webp);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    
}
.head-culinary h1{
    font-size: 48px;
}
.card-culinary{
    width: 100%;
    display: flex;
    gap: 20px;
}
.des-culinary{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.des-culinary img.place{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.des-culinary span{
    display: flex;
    gap: 5px;
    align-items: center;
}
.des-culinary span img{
    width: 20px;
}
.map-culinary{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 0;
    align-self: flex-start; 
}
.map-culinary p span img{
    width: 20px;
}
.map-culinary p {
    display: flex;
    align-items: center;
    gap: 10px;
}
.map-culinary iframe{
    height: 300px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.map-culinary .button button{
    padding: 0px 20px;
    height: 40px;
    background-color: white;
    border: 1px solid #4B9B5C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.map-culinary button img{
    width: 15px;
}
.map-culinary .button{
display: flex;
justify-content: space-between;
}
.map-culinary button:hover{
    transition: 0.6s;
    background-color: #021c0f;
    color: white ;
    border: none;

}
.food{
    display: flex;
    justify-content: space-between;
    
}
.food-card{
    width: 29%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
}
.food-card img {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
}
.food-card h2{
    font-size: 18px;
    font-weight: 500;
}
.food-card a{
    color: white;
    padding: 10px 25px;
    background-color: #4B9B5C;
    text-align: center;
    border-radius: 5px;
}
.food-card a:hover{
    transition: 0.6s;
    background-color: #021c0f;
}





/* detail */
.detail-head{
    padding: 100px;
}
.detail-head .header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detail-head .header h1{
    font-size: 28px;
    font-weight: 600;
}
.header p {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header span img{
    width: 20px;
}


.about-map-detail{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 0px 100px;
}
.about-detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-detail p{
    font-size: 18px;
    color: #6a6a6a;
}

#detail-more-1, #detail-more2 {
    display: none;
}

#detail-more-1 ul li, #detail-more-2 ul li {
    list-style: disc;
    color: #6a6a6a;
    font-size: 18px;
}

p#myBtn-1, p#myBtn-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

p#myBtn-1 img, p#myBtn-2 img {
    width: 20px;
}

.highlight{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.highlight p{
    color: black;
    font-weight: bold;
}
.highlight ul li{
    list-style: disc;
    color: #6a6a6a;
    font-size: 18px;
}
.map-detail{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: flex-start; 
}
.map-detail iframe{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: none;
}
.package{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.package div h3{
    display: flex;
    align-items: center;
    gap: 10px;
}
.package div h3 span img{
    width: 20px;
}
.package div a button{
    padding: 10px 25px;
    background: #4B9B5C;
    border-radius: 5px;
    border: none;
    color: white;
    transition: 0.6s;


}
.package div a button:hover{
    transition: 0.6s;
    background-color: #326f40;

}
.package div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.nearby{
    display: flex;
    padding: 100px ;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    nav .l-nav{
        display: none!important;
    }
    nav .r-nav{
        display: none!important;
    }
    nav .m-nav{
        width: 100%!important;
    }
    .card-r h2, .card-r h1 {
        font-size: 24px !important;
    }
    .card-r div {
        padding: 20px !important;
    }
    .card-container a {
        font-size: 70% !important;
    }
    .card-culinary {
        display: flex;
        flex-direction: column !important;
    }
    .card-culinary .des-culinary{
        width: 100%;
    }
    .card-culinary .map-culinary{
        width: 100%;
    }
    .head-culinary p{
        display: none;
    }
}
@media screen and (max-width: 768px){
    
    .thumbnail{
        display: none;
    }
    .card-container a {
        width: 50%;
        flex: 0 0 calc(50% - 20px);
    }
    .hotel-choose div p{
        display: none;
    }
    .about-map-detail{
        flex-direction: column;
    }
    .about-detail{
        width: 100% ;
    }
    .map-detail{
        width: 100%;
    }
    .food{
        flex-direction: column;
    }
    .food div{
        width: 100%;
    }
    
    
}
@media screen and (max-width: 650px){
    footer .container {
        padding: 0px 20px;
        flex-direction: column;
        align-items: center;
    }
    footer .container .bag{
        width: 100%!important;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center!important;

    }
    footer .container .bag div{
        width: 100%!important;
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
    }
    .hotel-choose{
        margin: 10px 20px!important;
    }
    .card-r{
        width: 100%;
        align-items: center;
    }
    .card-r div{
        width: 300px!important;
    }
    .m-nav a{
        padding: 15px 0px;
    }
    .stays-main-card-container, .culinary, .main-card-container, .reason,.main-des, .detail-head, .about-map-detail{
        padding: 10px 20px;
    }
    .detail-head{
        margin-top: 150px;
    }
    nav .m-nav{
        font-size: 12px!important;
        gap: 0px;
    }
    .card-container a {
        width: 100%;
        flex: 0 0 calc(100% - 20px);
    }
    footer{
        flex-direction: column;
    }
    footer div{
        width: 100%;
    }
    .card-r{
        flex-direction: column;
        height: auto;
    }
    .stays-card-container a{
        width: 100%;
    }
    .hotel{
        height: auto!important;
    }
    .hotel-choose{
        flex-direction: column!important;
    }
    .hotel-choose div{
        width: 100%!important;
    }
    
}
@media screen and (max-width: 425px){
    .m-nav a{
        font-size: 8px;
    }
}
